.item {
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
  border-bottom: 1px solid rgba(135, 135, 135, 0.2);

  &__fav {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 22px;

    img {
      cursor: pointer;
    }
  }

  
&__left {
  display:flex;
}

&__img {
  display:flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  border-radius:50%;
  background: rgba(0, 119, 255, 0.05);
  margin-right: 24px;
}

&__main-content {
  color: #424242;
}

&__race {
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 22px;
}

&__date {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #878787;
  margin-bottom: 2px;
}

&__company {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #878787;
}

&__price {
  font-weight: 300;
  font-size: 11px;
  line-height: 22px;
  color: #878787;

  span {
    font-weight: normal;
    font-size: 17px;
    line-height: 22px;
    color: #424242;
  }
}
}
