@import 'react-date-range/dist/styles.css'; // main style file
@import 'react-date-range/dist/theme/default.css'; // theme css file

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;

  img {
    width: 164px !important;
    height: 149px !important;
  }

  li {
    width: 164px !important;
  }

  li + li {
    margin-left: 12px;
  }
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #E5E5E5;
}

